* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}
body {
   

  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%) )

}

.accordion-wrapper {
    position: relative;
}

.faq-container {
    /* border: 1px solid red; */
    border-radius: 20px;
    padding: 0 2rem 3rem 2rem;
    margin: 1rem;
    background-color: #ffffff;
   
}

.title {
    text-align: center;
    font-weight: 700;
    margin-bottom: 1.5rem;
    padding-top: 6rem;
    
}

.question {
    border-bottom: 1px solid hsl(240, 5%, 91%);
    overflow: hidden;
    position: relative;
    /* padding: 0 1rem; */  
}

.question > * {
    font-size: 12px;
}

.question-title {
    padding: 1rem 0;
}

.arrow {
    position: absolute;
    right: 0;
    top: 20px;
    transition: .2s ease-in-out;
}

.active {
  transform: rotate(180deg);
}

.text {
    color: hsl(240, 6%, 50%);
    margin-bottom: 1rem ;
    transition: .3s ease-in-out;
    font-weight: 400;
}

.question-image {
position: absolute;
width: 75%;
/* height: 100px; */
/* object-fit: none; */
/* object-position: top, center; */
/* top: -100px;
right: 50px; */
transform: translate(5%, -60%);
    /* background-repeat: no-repeat; */
}

.question-title--selected {
    font-weight: 700;
}

.hide {
    height: 0;
    margin: 0;
    
}

